body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    height: 55vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bins {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.bin {
    width: 120px;
    height: 180px;
    background-color: #cfd8dc;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.bin img {
    width: 100%;
    height: auto;
}

.litter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: wrap;
    height: 100px;
    margin: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: auto;
    height: 100%;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #4caf50;
    color: #fff;
}

.error {
    background-color: #f44336;
    color: #fff;
}

#score {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
